.ValueCell {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 0 0.5px inset lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &.isSelected {
    background: lightsteelblue;
  }
  &.isFocused {
    z-index: 1;
    box-shadow: 0 0 0 1px inset blue;
  }
  input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 5px;
    &:read-only {
      pointer-events: none;
      user-select: none;
    }
    &[type="checkbox"] {
      height: 15px;
      width: 15px;
    }
  }  
}