.HeadingCell {
  background: blue;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
  box-shadow: 0px 0px 0 0.5px inset #6a6aff;
  &.isOver {
    background: rgb(0, 0, 155);
  }
  &.isDragging {
    .dropTarget { pointer-events: all; }
  }
  .dragSource {
    max-width: 100%;
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    cursor: move;
  }
  .dropTarget {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  .title {
    max-width: 100%;
    box-sizing: border-box;
    flex: 1;
    font-weight: bold;
    padding: 5px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .toggleControls {
    height: 12px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    .space {
      flex: 1;
    }
    button {
      flex: 0;
      position: relative;
      height: 12px;
      width: 22px;
      display: flex;
      justify-self: center;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      & > * { height: 100%; color: white }
      &.disabled > * { color: #6a6aff; }
    }
    .ordControl span {
      position: absolute;
      bottom: -8px;
      right: 4px;
      font-size: 8px;
      font-weight: bold;
    }
  }
  .react-resizable-handle {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: -8px;
    width: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: ew-resize;
    z-index: 1;
    &::before {
      content: ' ';
      display: block;
      height: 25px;
      width: 2px;
      border-radius: 1.5px;
      background: white;
    }
    &:hover { visibility: visible; }
  }
  &:hover .react-resizable-handle { visibility: visible; }
}
