html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

input {
  max-width: 100%;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: calc(100vh - 50px);
  margin-top: 50px;
  font-family: sans-serif;
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow: unset !important;
  position: unset !important;
}

.col {
  background: whitesmoke;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}
.sticky-left {
  position: sticky;
  left: 0;
  z-index: 1;
}
